[core]
	editor = vim
[user]
	email = carolinesalibc@gmail.com
	name = carolinesalib
[branch]
  	autosetuprebase = always
[push]
  	default = current
[pull]
  	default = current
[alias]
    sw = "!f() { git switch $(git branch | fzf); }; f"